@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'Poppins', sans-serif;
	}
}

.swiper-button-prev,
.swiper-button-next {
	@apply bottom-2 top-auto left-auto text-rose-200 text-lg w-5 h-6;
	&::after {
		@apply text-lg;
	}
}

.animate-fadeInOut {
	animation: fadeInOut 2s ease-in-out infinite;
}

@keyframes fadeInOut {
	0%,
	100% {
		opacity: 0.3;
	}
	60% {
		opacity: 1;
	}
}
